<html>
    <head>
      <title>Full text search</title>
    </head>
    <body>

        <div> 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="/postBlog">Post</a>
            <a href="/search">FTS</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>