{% extends "base.html" %}

{% block content %}
    <h1>Post</h1>
    <form action="" method="post" >
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.post.label }}<br>
            {{ form.post(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}