{% extends "base.html" %}

{% block content %}

  {% if result %}
    <div>
        <p>
            {{ result['hits']['total'] }}
        </p>
    </div>
  {% else %}
  <div>
        <p>
            Results Not Found
        </p>
    </div>
   {% endif %}

{% endblock %}