{% extends "base.html" %}

{% block content %}
<form action="" >
        {{ search.hidden_tag() }}
        <p>
            {{ search.q.label }}<br>
            {{ search.q(size=32) }}
        </p>
        <p>{{ search.submit() }}</p>
</form>
<div>
<p>
    total hits ->{{ result['hits']['total'] }}
</p>
</div>
<hr>
{% for res in all_result['hits']['hits'] %}
   <p>{{ res._source.post }}</p>
   
{% endfor %}

{% endblock %}